<div class="bg-white" id="footer-2">
      <div class="container-fluid" style="background-color:#f8f9fa;padding:20px;">
          <div class="row align-items-center">
              <div class="col-lg-12 py-1 ml-auto text-center">
                  <ul class="list-inline m-0 p-1 align-middle">
                      <li class="list-inline-item align-middle">
                         <b>Seri Serirom (Shane)</b><br/>
                         <span style="font-size:smaller">
                         74/31 PruksaVillage-11 Tha-it soi Rattanathibet rd. Pakkret Nonthaburi 11120 Thailand.<br/>
                         Mobile: (+66)81-5669346<br/>
                         Email: <a class="text-primary p-1" href="mailto:shane.seriserirom@outlook.com">shane.seriserirom@outlook.com</a>
                        </span>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>