<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="content-type" content="text/html;charset=UTF-8">
   <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/bootstrap_v4.1.1.css' />
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="/javascripts/bootstrap-native-v4.min.js" defer></script>
   
</head>
<body>

<%- include('_topmenu') -%>

   <div class="bg-light pt-3">
      <div class="container d-flex flex-column pt-5">
            <div class="row my-auto my-5 pt-5 pb-4">
               <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                  <h1 class="mb-2 font-weight-normal">Seri Serirom (Shane)</h1>
                  <div class="row">
                        <div class="col-md-2">
                              <img src="/images/mypic.jpg"/>
                        </div>
                        <div class="col-md-10">
                              <p class="lead">
                                    <span style="font-size:">
                                    74/31 PruksaVillage-11 Tha-it soi Rattanathibet rd. Pakkret Nonthaburi 11120 Thailand.<br/>
                                    Mobile: (+66)81-5669346<br/>
                                    Email: <a class="text-primary p-1" href="mailto:shane.seriserirom@outlook.com">shane.seriserirom@outlook.com</a>
                                    </span>
                              </p>
                        </div>
                  </div>
               </div>
            </div>
      </div>
   </div>

   <div class="pt-5 pb-5 mb-2">
      <div class="container pt-3">
            <div class="row">
               <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                  <h3 class="h4 mb-3">PERSONAL DATA:</h3>
                  <p class="text-secondary">
                        <div class="row" style="background-color:#f8f9fa;">
                           <div class="col-md-6">
                              <table width="100%">
                                 <tr>
                                    <td width="50%" style="font-weight:bold;">Date of Birth: </td>
                                    <td width="50%">March 19, 1977</td>
                                 </tr>
                                 <tr>
                                    <td width="50%" style="font-weight:bold;">Age: </td>
                                    <td width="50%">42 years</td>
                                 </tr>
                                 <tr>
                                    <td width="50%" style="font-weight:bold;">Nationality: </td>
                                    <td width="50%">Thai</td>
                                 </tr>
                              </table>
                           </div>
                           <div class="col-md-6">
                              <table width="100%">
                                 <tr>
                                    <td width="50%" style="font-weight:bold;">Religion: </td>
                                    <td width="50%">Buddhism</td>
                                 </tr>
                                 <tr>
                                    <td width="50%" style="font-weight:bold;">Marital Status: </td>
                                    <td width="50%">Married</td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                  </p>

                  <BR/>
                  <h3 class="h4 mb-3">EDUCATION:</h3>
                  <p class="text-secondary">
                     <div class="row" style="background-color:#f8f9fa;padding:5px 15px 5px 15px;">
                        <table width="100%">
                           <tr style="vertical-align: top;">
                              <td width="30%" style="font-weight:bold;">
                                 Master’s Degree<BR>
                                 (2007  - 2009) 
                              </td>
                              <td width="70%">
                                 Chulalongkorn University<BR>
                                 Master degree in computer science (faculty of computer engineering) <BR>
                                 GPA: 3.78
                              </td>
                           </tr>
                           <tr style="vertical-align: top;">
                              <td width="30%" style="font-weight:bold;">
                                 Bachelor’s  Degree<BR>
                                 (1994  - 1997) 
                              </td>
                              <td width="70%">
                                 Chulalongkorn University<BR>
                                 Bachelor degree in electrical engineering<BR>
                                 GPA: 2.31
                              </td>
                           </tr>
                        </table>
                     </div>
                  </p>
                  

                  <br>
                  <h3 class="h4 mb-3">WORK EXPERIENCE:</h3>

                  <p style="">
                        <h5><u>Mono Technology Co., Ltd</u></h5>
                        Senior Manager (IT Support & Network, Software Development)<br>
                        Jun 2012 – July 2019<br>
                        Responsibilities:<br>
                        <ul style="margin-top:5px;padding-left:20px;padding-top:0px;">
                           <li style="margin-bottom:10px;font-size:smaller;"><b>Management: </b>
                              <ul style="margin-top:0px;padding-left:20px;padding-top:0px;">
                                 <li>Planning and budgeting yearly for projects and system maintenances.</li>
                                 <li>Finding solutions for risk management of important IT systems to prevent 
                                    any possible problems such as developer environment control, disaster recovery site, 
                                    data replication solution, data recovery test plan.</li>
                                 <li>Proposing yearly internal IT system enhancement plan.</li>
                                 <li>Collaborating with stakeholders to gather project requirements.</li>
                                 <li>Proposing the most suitable solution by comparing all options and presenting to stakeholders.</li>
                                 <li>Approving requirements and design of system environment.</li>
                                 <li>Allocating assigned project to development team members.</li>
                                 <li>Planning timeline and following up project progress to complete as committed.</li>
                                 <li>Recruiting IT team members.</li>
                                 <li>Monitoring and ensuring all IT Support tasks are completed.</li>
                                 <li>Monitoring and providing Internet bandwidth that is suitable for users.</li>
                                 <li>Responsible for network infrastructure installation and providing computer equipment and software for users.</li>
                              </ul>  
                           </li>
                           <li style="margin-bottom:10px;font-size:smaller;"><b>Key Development Projects: </b>
                              <ul style="margin-top:0px;padding-left:20px;padding-top:0px;">
                                    <li><b>TV Sound Recognition</b> on Android mobiles using ultrasonic signal embedded into Mono 29 TV Series (Arrow) for display a pop up on customer's mobile for the campaigns to the targeted audiences who are watching TV (using JAVA, Android, Fast Fourier Transform for sound processing).</li>
                                    <li><b>Music Recognition Application</b> to track whether Mono Music’s songs has been opened on the target radio stations (Audio fingerprint generation using Fast Fourier Transform writing in JAVA,  Audio fingerprint similarity search using multiple nodes parallel searching writing in NodeJS programming language) </li>
                                    <li><b>Asset and Intangible Asset Depreciation Reports</b> getting data from Oracle ERP financial system that’s very large and complex data structure.</li>
                                    <li><b>Central Cash Flow Planning System</b> by getting PO/AR data from Oracle ERP financial system and combine with yearly budgeting in order to forecast and manage cash flow every month.</li>
                                    <li><b>Automated Purchasing Order’s Receipt Data Sharing</b> from Oracle ERP financial system to salesforce system in order to confirm sale team member’s incentive and commission.</li>
                                    <li><b>Barcode Voting System</b> for MONO shareholders meetings to get fast speed of vote counting.</li>
                                    <li><b>Smart Library system with RFID</b>, working with seeking RFID gates equipments from china and studying equipment’s API until designing application workflow and UI for book registering, borrowing and returning.</li>
                                    <li><b>Billions of SMS Transactions Analysis System</b>, solving of searching very large data through billions sms transactions that is too large for RDBMS database to handle and finally get failed, I proposed the new solution by using technique of the C# specific characteristics to allocate data storage and hold on memory directly in order to handle very large data and get high speed of processing in less than a minute.</li>                                        
                                 </ul>  
                              </li>
                        </ul>  
                  </p>

                  <div style="font-size:5px;">&nbsp;</div>

                  <p style="">
                        <h5><u>Mono Technology Co., Ltd</u></h5>
                        IT Manager  (Mono Travel Department)<br>
                        Apr 2005 – Jun 2012<br>
                        Responsibilities:<br>
                        <ul style="margin-top:5px;padding-left:20px;padding-top:0px;">
                           <li style="margin-bottom:10px;font-size:smaller;"><b>Management: </b>
                              <ul style="margin-top:0px;padding-left:20px;padding-top:0px;">
                                 <li>Collaborating with stakeholders to gather project requirements.</li>
                                 <li>Approving requirements and design of system environment.</li>
                                 <li>Allocating assigned project to development team members.</li>
                                 <li>Planning timeline and following up project progress to complete as committed.</li>
                                 <li>Recruiting IT team members.</li>
                              </ul>  
                           </li>
                           <li style="margin-bottom:10px;font-size:smaller;"><b>Key Development Projects: </b>
                              <ul style="margin-top:0px;padding-left:20px;padding-top:0px;">
                                    <li>eTravel-max solution, the Content Manager System (CMS) and booking system for completed travel solution for travel agency supporting both hotel and travel package products.</li>
                                    <li>The First Hotel Reservation Instant Confirmation in Thailand on Hotelthailand.com</li>
                                    <li>Database optimization and tuning for 2 seconds fast hotels available search.</li>
                                    <li>Database synchronization across different sites for backup and reporting.</li>
                                    <li>Hotel web content response speed optimization as fast as static contents.</li>
                                    <li>Automatic fax confirmation to hotel partners when customer finished payments.</li>
                                    <li>Payment gateway integration with BBL bank.</li>
                                 </ul>  
                              </li>
                        </ul>  
                  </p>

                  <div style="font-size:5px;">&nbsp;</div>

                  <p style="">
                        <h5><u>Power Buy Co., Ltd. </u></h5>
                        IT Manager<br>
                        Jan 2005 – Apr 2005<br>
                        Responsibilities:<br>
                        <ul style="margin-top:5px;padding-left:20px;padding-top:0px;">
                           <li style="margin-bottom:10px;font-size:smaller;"><b>Logistics Development Projects: </b>
                              <ul style="margin-top:0px;padding-left:20px;padding-top:0px;">
                                    <li>Smart product delivery assignment management for hundred vehicles of the day.</li>
                                    <li>Best overall shortest routes planning for hundred vehicles of the day.</li>
                                 </ul>  
                              </li>
                        </ul>  
                  </p>

                  <div style="font-size:5px;">&nbsp;</div>

                  <p style="">
                        <h5><u>Intellinet Co., Ltd.  </u></h5>
                        Software Engineer<br>
                        2000 - 2004<br>
                        Responsibilities:<br>
                        <ul style="margin-top:5px;padding-left:20px;padding-top:0px;">
                           <li style="margin-bottom:10px;font-size:smaller;"><b>Software Development Projects: </b>
                              <ul style="margin-top:0px;padding-left:20px;padding-top:0px;">
                                    <li>Nutrition laboratory workflow management for Institute of Nutrition, Mahidol University </li>
                                    <li>Leave and attendance management for Institute of Nutrition, Mahidol University</li>
                                    <li>Overtime payment management for PTT to track, calculate and approve overtime payment</li>
                                    <li>eTravel-max solution, the Content Manager System (CMS) and booking system for completed travel solution for travel agency supporting both hotel and travel package products.</li>
                                    <li>Team inquiry system with integrating e-mail system for team collaboration to help reply customers’ inquiries as a team</li>
                                 </ul>  
                              </li>
                        </ul>  
                  </p>

                  <BR/>
                  <h3 class="h4 mb-3">TRAININGS:</h3>
                  <p class="text-secondary">
                     <div class="row" style="font-size:smaller;background-color:#f8f9fa;padding:5px 15px 0px 15px;">
                           <ul style="margin-top:5px;padding-left:20px;padding-top:0px;">
                              <li>English for Communication - Mono in House training</li>
                              <li>Supervisory & Leadership Skill - Mono in House training</li>
                              <li>Risk management COSO framework</li>
                           </ul>  
                     </div>
                  </p>

                  <BR/>
                  <h3 class="h4 mb-3">STRENGTHS:</h3>
                  <p class="text-secondary">
                     <div class="row" style="font-size:smaller;background-color:#f8f9fa;padding:5px 15px 0px 15px;">
                           Fast learner, Maths lover, Problem solving in vary kind of problems, Strong analytical skills to solve complex problems, Work process optimization, Computer algorithms  applying, High responsibility, Aggressive and willing to work hard and new challenge. 
                     </div>
                  </p>

                  <BR/>
                  <h3 class="h4 mb-3">COMPUTER SKILLS: :</h3>
                  <p class="text-secondary">
                     <div class="row" style="font-size:smaller;background-color:#f8f9fa;padding:5px 15px 0px 15px;">
                        <ul style="margin-top:5px;padding-left:20px;padding-top:0px;">
                           <li style="margin-bottom:10px;"><b>Programming Languages: </b><br>
                              Java, NodeJS, ASP, ASP.net, PHP, C#, VB.net, Javascript, Jquery, Coldfusion, HTML, CSS
                           </li>
                           <li style="margin-bottom:10px;"><b>Database: </b><br>
                              MS SQL, MS SQL T-SQL,  MySQL, Oracle, Oracle PL/SQL,  Redis,  Access
                           </li>
                           <li style="margin-bottom:10px;"><b>Computer Software: </b><br>
                              Microsoft Office (Excel, Word, Powerpoint, MS Access, Frontpage), Microsoft visio, Adobe Photoshop , Windows, Linux
                           </li>
                           <li style="margin-bottom:10px;"><b>Others: </b><br>
                              Facebook login integration, Full Microsoft word or excel document generation by XML processing, JWT (json web tokens) for Modern API Programming
                           </li>
                        </ul>  
                     </div>
                  </p>

               </div>
            </div>
      </div>
   </div>


   <%- include('_footer') -%>

        

      
</body>
</html>
